-
    var navLink = [
        "WHAT TO DO?",
        "HOW IT WORKS",
        "WHO WE ARE"
    ],
    navHref = [
        "#test",
        "#test",
        "#test"
    ];



.nav
    a(href="javascript:void(0);", class="btn__mobile")
        span.btn__mobile-line

    .nav__row
        -for(var i = 0; i < navLink.length; i++)
            a(href= navHref[i], class="nav__btn")!= navLink[i]

        a(href="javascript:void(0);", class="btn__mobile-close")
            span.btn__mobile-close-line