-
    var sloganText  = "During last 6 month your website </br> has lost of <span class='slogan__text_red'>65 678</span> of traffics.",
        sloganTitle = "WE KNOW HOW </br> TO BRING IT BACK!";


p.slogan__text!= sloganText
p.slogan__title!= sloganTitle