@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_MYWGA";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white				    : return-value(color, white);
$c-atlantis         : return-value(color, atlantis);
$c-fireEngineRed    : return-value(color, fireEngineRed);
$c-whisper          : return-value(color, whisper);

$f-PN_light         : return-value(fonts, PN_light);
$f-PN_black         : return-value(fonts, PN_black);


/// <=====> TITLE <=====>
.main__title {
	@include respond-to("medium") {
		font-size: 25px;
	}
	@include respond-to("small-all") {
		font-size: 22px;
	}
}

/// <=====> BTN <=====>
.btn {
	display: inline-block;
	height: 73px;
	color: $c-white;
	letter-spacing: 2px;
	font-size: 12px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	@include respond-to("small-all") {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		letter-spacing: 1px;
	}


	&__mobile {
		display: none;
		@include mixinDimensions(50px);
		background-color: $c-atlantis;
		border-radius: $w-all;
		position: absolute;
		right: 15px;
		top: 0;
		bottom: 0;
		margin: auto;
		@include respond-to(medium-all) {
			display: block;
		}


		&-close {
			display: none;
			position: absolute;
			top: 15px;
			left: 0;
			right: 0;
			margin: auto;
			@include mixinDimensions(50px);


			&-line {


				&:before {
					transform: rotate(45deg);
				}


				&:after {
					transform: rotate(-45deg);
				}

				&:before,
				&:after {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					@include mixinDimensions(28px, 3px);
					background-color: $c-atlantis;
				}
			}
		}


		&-line {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			@include mixinDimensions(28px, 2px);
			background-color: $c-white;


			&:before {
				top: -8px;
			}
			&:after {
				bottom: -8px;
			}


			&:before,
			&:after {
				position: absolute;
				content: "";
				@include mixinDimensions(28px, 2px);
				background-color: $c-white;
			}
		}
	}


	&:before {
		content: '';
		display: inline-block;
		margin-right: -.32em;
		height: 100%;
		vertical-align: middle;
	}


	&__text {
		display: inline-block;
		vertical-align: middle;
	}


	&__icon {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
		@include retina-sprite($sp-i-btn-group);
	}


	&_blue {
		background-color: $c-atlantis;
	}


	&_red {
		background-color: $c-fireEngineRed;
	}


	&_header {
		float: right;
	}
}

/// <=====> CIRCLE <=====>
.circle {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: $w-all;
	border: 1px solid $c-white;

	margin: 0 auto 15px;


	&__internal {
		border-radius: $w-all;
		overflow: hidden;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}


	&_big {
		@include mixinDimensions(190px);


		.circle__internal {
			@include mixinDimensions(180px);
		}
	}


	&_middle {
		@include mixinDimensions(144px);


		.circle__internal {
			@include mixinDimensions(124px);
		}
	}


	&__title {
		font: {
			size: 70px;
			family: $f-PN_black;
		}
		line-height: 1;
		color: $c-fireEngineRed;
	}


	&__subtitle {
		font: {
			size: 25px;
			family: $f-PN_light;
		}
	}


	&_red {
		.circle__internal {
			background-color: $c-fireEngineRed;
		}
	}


	&_blue {
		.circle__internal {
			background-color: $c-atlantis;
		}
	}


	&_gray {
		.circle__internal {
			background-color: $c-whisper;
		}
	}


	&_white {
		.circle__internal {
			background-color: $c-white;
		}
	}


	&__border_blue {
		border-color: $c-atlantis;
	}


	&__border_red {
		border-color: $c-fireEngineRed;
	}
}