///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-fireEngineRed    : return-value(color, fireEngineRed);

$f-PN_black         : return-value(fonts, PN_black);
$f-PN_light         : return-value(fonts, PN_light);
///
/// MAIN BLOCK
///
.build {
	padding-top: 100px;
	padding-bottom: 100px;
	@include respond-to("large") {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	@include respond-to("medium-all") {
		padding-top: 50px;
		padding-bottom: 50px;
	}


	&__left {
		width:  55%;
	}


	&__right {
		width:  45%;
	}


	&__left,
	&__right {
		float: left;
		@include respond-to("small-all") {
			width: 100%;
			float: none;
		}
	}


	&__title {
		font: {
			size: 50px;
			family: $f-PN_black;
		}
		color: $c-fireEngineRed;
		margin-bottom: 20px;
		@include respond-to("large") {
			font-size: 45px;
		}
		@include respond-to("medium") {
			font-size: 30px;
		}
		@include respond-to("small-all") {
			font-size: 25px;
			text-align: center;
		}
	}


	&__text {
		font: {
			size: 32px;
			family: $f-PN_light;
		}
		max-width: 510px;
		@include respond-to("large") {
			font-size: 28px;
		}
		@include respond-to("medium") {
			font-size: 22px;
		}
		@include respond-to("small-all") {
			font-size: 20px;
			text-align: center;
			margin-bottom: 25px;
		}
	}


	&__img {
		max-width: 100%;
		@include respond-to("small-all") {
			margin-top: 20px;
		}
	}
}