///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-atlantis         : return-value(color, atlantis);
///
/// MAIN BLOCK
///
.footer {
	height: 75px;
	line-height: 69px;
	border-top: 6px solid $c-atlantis;
	@include respond-to("small-all") {
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
		line-height: 1.4;
	}


	&__title {
		font-size: 14px;
		text-align: center;
	}
}