///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_MYWGA";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-atlantis         : return-value(color, atlantis);
$c-fireEngineRed    : return-value(color, fireEngineRed);
$c-whisper          : return-value(color, whisper);

$f-PN_black         : return-value(fonts, PN_black);
///
/// MAIN BLOCK
///
.idea {
	min-height: 520px;
	padding-top: 100px;
	padding-bottom: 100px;


	&__left {


		&-title {
			font: {
				size: 50px;
				family: $f-PN_black;
			}
			color: $c-atlantis;
			padding-top: 50px;
		}
	}


	&__right {


		&-half {
			float: left;
			width: 50%;
		}


		&-title {
			font: {
				size: 32px;
				family: $f-PN_black;
			}
			padding-bottom: 30px;
			line-height: 1;
			position: relative;


			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 10px;
				@include mixinDimensions(44px, 1px);
				background-color: $c-whisper;
			}


			&_red {
				color: $c-fireEngineRed;
			}
		}
	}


	&__left,
	&__right {
		float: left;
		width: 50%;
	}


	&__block {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		margin-bottom: 30px;
	}


	&__text {
		width: 170px;
		margin-left: 30px;
	}
}

/// BAD IDEA ICON
@each $className, $imgName in
								("0", $sp-i-idea-bad-0-group),
								("1", $sp-i-idea-bad-1-group),
								("2", $sp-i-idea-bad-2-group)
{
	.idea__block_bad.idea__block-#{$className} {
		.idea__icon {
			display: inline-block;
			@include retina-sprite($imgName);
		}
	}
}
/// GOOD IDEA ICON
@each $className, $imgName in
								("0", $sp-i-idea-good-0-group),
								("1", $sp-i-idea-good-1-group),
								("2", $sp-i-idea-good-2-group),
								("3", $sp-i-idea-good-3-group)
{
	.idea__block_good.idea__block-#{$className} {
		.idea__icon {
			display: inline-block;
			@include retina-sprite($imgName);
		}
	}
}