///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-atlantis         : return-value(color, atlantis);
$c-fireEngineRed    : return-value(color, fireEngineRed);

$f-PN_black         : return-value(fonts, PN_black);
///
/// MAIN BLOCK
///
.logotype {
	cursor: pointer;
	display: inline-block;
	position: relative;
	@include mixinDimensions(280px, 62px);
	border: 1px solid $c-fireEngineRed;
	text-align: center;
	margin-top: 30px;
	@include respond-to(medium-all) {
		width: 220px;
	}


	&__title {
		font: {
			size: 34px;
			family: $f-PN_black;
		}
		color: $c-atlantis;
		line-height: 62px;
		letter-spacing: 10px;
		@include respond-to(medium-all) {
			font-size: 25px;
		}
	}


	&__subtitle-0 {
		top: -8px;
	}


	&__subtitle-1 {
		bottom: -8px;
	}


	&__subtitle-0,
	&__subtitle-1 {
		position: absolute;
		width: 190px;
		right: 0;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		color: $c-fireEngineRed;
		font-size: 15px;
		background-color: $c-white;
		line-height: 1;
		@include respond-to(medium-all) {
			font-size: 13px;
		}
	}


	&__subtitle-0,
	&__subtitle-1 {
		letter-spacing: 7px;
	}
}