
.build
    .container.clearfix
        .build__left
            p.build__title!= "WE`LL BUILT A GREAT, GREAT WALL THAT WILL DEFEND YOUR WEBSITE FROM TRAFFIC LOSES"
            p.build__text!= "Tools and approaches we use provide the long-term result that will stay with your site for years."

        .build__right
            img(src="./img/img-build.png", class="img-responsive build__img")
