
.lose
    .container

        .lose__row
            p.lose__title!= "WHILE YOU ARE READING </br> THIS TEXT, YOU LOSE:"

            .lose__count
                div.lose__count-wrap
                    -for(var i = 0; i < 6; i++)
                        span.lose__count-num!= "0"
                span.lose__count-text!= "$"

            a(href="javascript:void(0);", class="btn btn_header btn_red")
                i.btn__icon
                | GET THE RESQUE NOW

