-
    var dataFrom = [
        "0", "0", "0", "0", "0", "0"
    ];
    var dataTo = [
        "9", "9", "9", "9", "9", "9"
    ];


.lose
    .container

        .lose__row
            p.lose__title.main__title!= "WHILE YOU ARE READING </br> THIS TEXT, YOU LOSE:"

            .lose__count
                div.lose__count-wrap
                    -for(var i = 0; i < 6; i++)
                        span(class="lose__count-num lose__count-num-" + i, data-from= dataFrom[i], data-to=dataTo[i])!= "0"
                span.lose__count-text!= "$"

            a(href="javascript:void(0);", class="btn btn_red")
                i.btn__icon
                span.btn__text!= "GET THE RESQUE NOW"

