include _mixin/mixin


doctype html
html(lang="en")


    +headSite("Make your website great again", linkSite.styleLink, "")


    body


        //- BLOCK HEADER [nav, bottomInfo, logo, slogan]
        block header
            include _template/header


        //- BLOCK REASON
        block reason
            include _template/reason


        //- BLOCK IDEA
        block idea
            include _template/idea


        //- BLOCK DO
        block do
            include _template/do


        //- BLOCK WORKS
        block works
            include _template/works


        //- BLOCK LOSE
        block lose
            include _template/lose


        //- BLOCK BUILD
        block build
            include _template/build


        //- BLOCK ARE
        block are
            include _template/are


        //- BLOCK TESTIMONIALS
        block testimonials
            include _template/testimonials


        //- BLOCK CONTACTS
        block contacts
            include _template/contacts


        //- BLOCK FOOTER
        block footer
            include _template/footer



        - for(var i = 0; i < linkSite.scriptLink.length; i++)
            script(src= linkSite.scriptLink[i])